!.gitignore
*~
*#
*.bak
*.pyc
*.out
*.o
*.wts
*.txt
*.avi
*.org
*.sh
*.so
*.bak4so
*.log
core
testso
testtrt
sqdtrt
GPATH
GRTAGS
GSYMS
GTAGS
scripts
data/
obj/
test_img/
submit/
!data/example
!data/example/20110926.avi
!data/example/sample.png
!data/example/val.txt
!data/sqdtrt.wts
evaluate_object
Validation-100/
make.log
XJTU-IAIR-Falcon
!cleanup.sh
!gen_src.sh
